<div class="container" *ngIf="classif">

	<h2>{{ categoryLabel(classif.labels) }}</h2>

  <ng-template #catgeoriesTemplate let-categories="categories" let-parent="parent">
	<ul *ngIf="categories" class="list-group" [ngClass]="{'my-3 collapse': parent}" [id]="parent ? 'categ_' + parent.ID.replace('.', '_') : null">
		<li *ngFor="let categ of categories" class="list-group-item px-2">
		  <a class="d-flex justify-content-between align-items-center" data-toggle="collapse" 
		    [href]="'#categ_' + categ.ID.replace('.', '_')" (click)="categoryToggle(categ)">
		    <div>
          <i class="text-secondary mr-2" 
            [ngClass]="{'far': categ.categories, 'fa-plus-square': categ.categories && !isCategoryOpen(categ), 'fa-minus-square': categ.categories && isCategoryOpen(categ), 'fas': !categ.categories, 'fa-minus': !categ.categories}"></i>
				  <span class="text-primary hyphens">{{ categoryLabel(categ.labels) }}</span>
			  </div>
			  <div class="d-inline-flex flex-nowrap">
          <span *ngIf="counts" class="badge badge-primary d-inline my-auto">{{ counts.get(id + ':' + categ.ID) || 0 }}</span>
          <button type="button" class="btn btn-sm btn-outline-secondary my-auto ml-2" 
            uiSref="search" [uiParams]="{query: 'category.top:' + id + '\:' + categ.ID}" [disabled]="(counts?.get(id + ':' + categ.ID) || 0) === 0">
            <i class="fas fa-search"></i>
          </button>
			  </div>
		  </a>
		  <ng-container *ngIf="categ.categories">
        <ng-container *ngTemplateOutlet="catgeoriesTemplate;context:{categories: categ.categories, parent: categ}"></ng-container>
      </ng-container>
		</li>
	</ul>
	</ng-template>
	
	<ng-container *ngTemplateOutlet="catgeoriesTemplate;context:classif"></ng-container>

</div>