<ng-template #loginForm>
<form novalidate (ngSubmit)="onSubmit(form)" [formGroup]="form">
	<fieldset>
		<div class="form-group row">
			<label for="username" class="col-sm-2 control-label">{{ 'user.name' | translate }}</label>
			<div class="col-sm-10">
				<input formControlName="username" type="text" id="username" autocapitalize="off" autocorrect="off" autofocus placeholder="{{ 'user.name' | translate }}"
					tabindex="1" class="form-control" [ngClass]="{'is-invalid': invalidCredentials || form.controls.username.dirty && form.controls.username.errors}"
				>
			</div>
		</div>
		<div class="form-group row">
			<label for="password" class="col-sm-2 control-label">{{ 'user.password' | translate }}</label>
			<div class="col-sm-10">
				<input formControlName="password" type="password" id="password" placeholder="{{ 'user.password' | translate }}" tabindex="2" class="form-control"
					[ngClass]="{'is-invalid': invalidCredentials || form.controls.password.dirty && form.controls.password.errors}"
				>
			</div>
		</div>
	</fieldset>
	<div class="d-flex justify-content-between">
		<input type="submit" class="btn btn-primary" value="{{ 'button.login' | translate }}" [disabled]="!form.valid">
		<button *ngIf="returnTo" type="button" class="btn btn-default" (click)="onCancel()">{{ 'button.cancel' | translate }}</button>
	</div>
</form>
</ng-template>

<div class="container">
  <h2>{{'login.headline' | translate}}</h2>
	<div id="login" class="card">
	  <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs" role="tablist">
        <li *ngFor="let realm of $auth.getLoginRealms(); let i = index" class="nav-item">
          <a class="nav-link" [ngClass]="i == 0 && 'active'"
            [attr.id]="realm.id + 'tab'" [href]="'#' + realm.id" [attr.aria-controls]="realm.id" 
            [innerHtml]="'realm.' + realm.id + '.label' | translate" data-toggle="tab" role="tab"></a>
        </li>
      </ul>
    </div>
    <div class="card-body tab-content">
      <div *ngFor="let realm of $auth.getLoginRealms(); let i = index" 
        [attr.id]="realm.id" class="tab-pane fade" [ngClass]="i == 0 && 'show active'"
      >
        <ng-container [ngSwitch]="realm.id">
          <ng-container *ngSwitchCase="'local'">
            <ng-container *ngTemplateOutlet="loginForm"></ng-container>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <ng-container *ngIf="realm.loginUrl">
              <h5 class="card-title" [innerHtml]="'realm.' + realm.id + '.info' | translate"></h5>
              <p class="card-text" [innerHtml]="'realm.' + realm.id + '.description' | translate"></p>
              <div class="d-flex justify-content-between">
	              <a class="btn btn-primary" [href]="realm.loginUrl">{{ 'button.login' | translate }}</a>
	              <button *ngIf="returnTo" type="button" class="btn btn-default" (click)="onCancel()">{{ 'button.cancel' | translate }}</button>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </div>
	</div>
</div>