<div id="home">
	<div #teaser id="teaser" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#teaser" data-slide-to="0" class="active"></li>
			<li data-target="#teaser" data-slide-to="1"></li>
			<li data-target="#teaser" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="carousel-item active" style="background-image: url('/assets/images/teaser/j11011778_SD.jpg')" data-speed="6">
				<div class="container">
					<div class="carousel-caption">
						<h1 class="animated fadeIn">Elektronische Semesterapparate</h1>
						<p class="animated fadeInLeft">Ein elektronischer Semesterapparat stellt alle vom Dozenten ausgewählten Materialien, digitalisierte Kopiervorlagen und
							Links zu weiteren Ressourcen mittels passwortgeschütztem Zugang für die studentischen Teilnehmer einer Lehrveranstaltung online bereit. Die in den
							Apparaten gelisteten Bücher aus dem Bestand der Bibliothek stehen zur Präsenznutzung vor Ort zur Verfügung.</p>
						<p class="animated fadeInUp">
							<a class="btn btn-sm btn-default" uiSref="rc" href="#" role="button">Aktuelle Liste</a>
						</p>
					</div>
				</div>
			</div>
			<div class="carousel-item" style="background-image: url('/assets/images/teaser/s071216382_SD.jpg')" data-speed="6">
				<div class="container">
					<div class="carousel-caption">
						<h1 class="animated fadeIn">Vorlesungsmitschnitte</h1>
						<p class="animated fadeInLeft">Durch das Multimediazentrum werden aktuelle Vorlesungsmitschnitte mit synchron ablaufender Präsentation angefertigt und
							in der DBT abgelegt. Es ist bereits eine große Anzahl aus vielen Fachgebieten verfügbar. Außerdem werden Tagungen, Workshops und universitäre
							Veranstaltungen aufgezeichnet.</p>
						<p class="animated fadeInUp">
							<a class="btn btn-sm btn-default" uiSref="search" [uiParams]="{query: '*', facets: 'mods.genre:video'}" href="#" role="button">Aktuelle Videos</a>
						</p>
					</div>
				</div>
			</div>
			<div class="carousel-item" style="background-image: url('/assets/images/teaser/2552_SD.jpg')" data-speed="6">
				<div class="container">
					<div class="carousel-caption">
						<h1 class="animated fadeIn">E-Publikationen</h1>
						<p class="animated fadeInLeft">Ein Grundprinzip der Veröffentlichung der Dokumente in der DBT ist der Open-Access-Gedanke. Auch Sie können Ihre
							elektronischen Publikationen in der DBT veröffentlichen. Neben der weltweiten Verfügbarkeit im Internet wird auch die Langzeitverfügbarkeit Ihrer
							Publikation gewährleistet.</p>
						<p class="animated fadeInUp">
							<a class="btn btn-sm btn-default" href="#" role="button">Dokument einreichen</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<a class="carousel-control-prev" href="#teaser" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span
			class="sr-only"
		>Previous</span>
		</a> <a class="carousel-control-next" href="#teaser" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span
			class="sr-only"
		>Next</span>
		</a>
	</div>
</div>